{% load static %}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>AlphaQuant Login</title>
<link rel="stylesheet" type="text/css"
      href="{% static 'login/login.css' %}">

</head>
<body>

<form>
</form>
  <body>

    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h2>Email Registration</h2>
            <p>You're almost done! Please confirm your email address to complete the registration.</p>
          </div>
          <hr>
        </div>

        <div>
          <p class="message">Go to your email and click the link to complete registration.</p>

        </div>
      </div>
    </div>
</body>
</body>
</html>